.page {
    background-color: rgb(253, 202, 163);
    flex-direction: column;
    display: flex;
}

.table {
    border-style: dashed;
    border-color: rgb(97, 55, 20);
    border-radius: 10px;
    padding: 5px;
    background-color: beige;

    border-collapse: separate;
    border-spacing: 20px 10px;

    width: 1000px;
}

.table th,
.table td {
    border: 2px solid;
    background-color: white;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
}

.button {
    height: 40px;
    width: 100px;
    background-color: beige;
    border-radius: 10px;
    color: rgb(97, 55, 20);
    border-color: rgb(97, 55, 20);
    border-style: dashed;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    font-family: cursive;
    color: rgb(97, 55, 20);
}

.text {
    font-family: cursive;
    color: rgb(97, 55, 20);
}

.newEntryForm {
    margin-left: 160px;
    padding-bottom: 50px;
}

.entriesTable {
    margin-left: 160px;
}

.messageBox {
    padding-bottom: 15px;
}